#admin-container {
  display: flex;
  flex-direction: column;

  #admin-body-container {
    display: flex;
    width: 100%;
    .routing-pannel {
      // width: 20%;
      height: 100vh;
      background-color: white;
    }
    .router-outlet {
      margin: 0 auto;
      min-width: 80%;
    }
  }
  @media screen and (max-width: 768px) {
    #admin-body-container {
      flex-direction: column;
    }
  }
}
