<div class="create-staff" *ngIf="staffForm">
  <div class="header" *ngIf="data.institution | async; let institution">
    დაწესებულება <b>{{ institution.name }}</b
    >-ს ფილიალის შექმნა
  </div>
  <form [formGroup]="staffForm" class="create-staff-form">
    <mat-form-field>
      <input
        type="text"
        matInput
        autocomplete="off"
        placeholder="თანამშრომლის პირადი ნომერი"
        formControlName="pid"
      />
    </mat-form-field>
    <mat-form-field>
      <input
        type="text"
        matInput
        autocomplete="off"
        placeholder="თანამშრომლის სახელი"
        formControlName="name"
      />
    </mat-form-field>
  </form>
  <div class="actions">
    <button
      (click)="submit()"
      class="submit-button"
      style="margin-right: 15px"
      mat-raised-button
    >
      თანამშრომლის {{ data.id ? "რედაქტირება" : "დამატება" }}
    </button>
    <button (click)="closeDialog()" color="warn" mat-raised-button>
      გაუქმება
    </button>
  </div>
</div>
