<div class="institution" *ngIf="institution$ | async; let institution">
  <mat-card>
    <p>დაწესებულების სახელი: <b>{{ institution.name }}</b></p>
    <p>საიდენტიფიკაციო კოდი: <b>{{ institution.pid }}</b></p>
    <p>საკონტაქტო ნომერი: <b>{{ institution.number }}</b></p>
  </mat-card>
</div>
<hr />
<div class="create-button">
  <button (click)="createBranchDialog()" mat-raised-button>
    ფილიალის შექმნა
  </button>
</div>
<mat-card>
  <table mat-table [dataSource]="dataSource">
    <ng-container matColumnDef="address">
      <th mat-header-cell *matHeaderCellDef>ფილიალის მისამართი</th>
      <td mat-cell class="linked" *matCellDef="let element">
        {{ element.address }}
      </td>
    </ng-container>

    <ng-container matColumnDef="manager_name">
      <th mat-header-cell *matHeaderCellDef>მენეჯერის სახელი</th>
      <td mat-cell class="linked" *matCellDef="let element">
        {{ element.manager_name }}
      </td>
    </ng-container>

    <ng-container matColumnDef="actions">
      <th mat-header-cell *matHeaderCellDef></th>
      <td mat-cell class="linked" *matCellDef="let element">
        <button
          (click)="editBrancheDialog($event, element)"
          mat-icon-button
        >
          <mat-icon>edit</mat-icon>
        </button>
      </td>
    </ng-container>
    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr
      mat-row
      *matRowDef="let row; columns: displayedColumns"
      (click)="navigateToCurrentBranch(row)"
      class="branches-row"
    ></tr>
  </table>
  <mat-paginator
    [length]="page.total"
    [pageSize]="10"
    [pageSizeOptions]="[5, 10, 25, 100]"
    (page)="pageEvent($event)"
  >
  </mat-paginator>
</mat-card>
