#admin-navigation-container {
  width: 300px;

  .bold-status-text {
    font-weight: bold;
  }

  #idea-pages,
  #admin-actions,
  #other-pages {
    display: flex;
    flex-direction: column;

    a {
      text-align: left;

      &.activeLink {
        background-color: #eeeeee;
      }
    }

    .status-text {
      padding: 5px 24px 5px 32px;
    }

    .status-icon {
      margin-right: 10px;
    }
  }

  #other-pages {
    width: 100%;
    text-align: left;
  }

  mat-expansion-panel-header:hover {
    background-color: rgb(211, 211, 211);
  }
}

.mat-expansion-panel:not([class*='mat-elevation-z']) {
  box-shadow: none !important;
}

::ng-deep .mat-expansion-panel-body {
  padding: 0 !important;
}

::ng-deep .mat-expansion-panel-header {
  padding: 0 16px !important;
}

.special-status-text {
  width: 100%;
  padding: 5px 24px 5px 16px;
}
