<div class="branch">
  <mat-card *ngIf="institution | async; let institution">
    <div>
      <p>
        დაწესებულების სახელი : <b>{{ institution.name }}</b>
      </p>
      <p>
        დაწესებულების საიდენტიფიკაციო კოდი: <b>{{ institution.pid }}</b>
      </p>
      <p>
        დაწესებულების საკონტაქტო ნომერი: <b>{{ institution.number }}</b>
      </p>
    </div>
  </mat-card>
  <mat-card *ngIf="branch | async; let branch">
    <div>
      <p>
        ფილიალის მისამართი: <b>{{ branch.address }}</b>
      </p>
      <p>
        ფილიალის მენეჯერის სახელი: <b>{{ branch.manager_name }}</b>
      </p>
    </div>
  </mat-card>
</div>
<div class="create-button">
  <button (click)="addStaff()" mat-raised-button>თანამშრომლის დამატება</button>
</div>
<mat-card>
  <table mat-table [dataSource]="dataSource">
    <ng-container matColumnDef="pid">
      <th mat-header-cell *matHeaderCellDef>პირადი ნომერი</th>
      <td mat-cell class="linked" *matCellDef="let element">
        {{ element.pid }}
      </td>
    </ng-container>

    <ng-container matColumnDef="name">
      <th mat-header-cell *matHeaderCellDef>სახელი</th>
      <td mat-cell class="linked" *matCellDef="let element">
        {{ element.name }}
      </td>
    </ng-container>

    <ng-container matColumnDef="actions">
      <th mat-header-cell *matHeaderCellDef></th>
      <td mat-cell class="linked" *matCellDef="let element">
        <button (click)="editStaff(element.id)" mat-icon-button>
          <mat-icon>edit</mat-icon>
        </button>
      </td>
    </ng-container>
    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr
      mat-row
      *matRowDef="let row; columns: displayedColumns"
      class="institution-row"
    ></tr>
  </table>
  <mat-paginator
    [length]="page.total"
    [pageSize]="10"
    [pageSizeOptions]="[5, 10, 25, 100]"
    (page)="pageEvent($event)"
  >
  </mat-paginator>
</mat-card>
